<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Quotes</title>
</head>

<body>

    <P> {{users.id}}'s Quotes</P>
    <table>
    <b><p>{{authors.description}}</p></b>
    </table>
    <table>
    <b><p>{{authors.description}}</p></b>
    </table>
    

    <form action='/logout' method='post'>
        {% csrf_token %}
        <input type='submit' value='Log Out'>
    </form>

    <form action='/back' class="btn btn-outline-secondary ml-4" role="button">Back</form>
        
    


</body>

</html>